.btn {
    border-radius: 0px 10px 10px 0px;
    border-color: black;

}

/* .button-img::before {
   background-image: url("assets/images/save_icon.png"); 
} */

#currentDay {
    font-size: 24px;
    font-family: 'Stick No Bills', sans-serif;
}

.height {
    height:100px;
}

.timeHour {
    background-color: white;
    color: black;
    text-align: left;
}

.past {
    background-color: gray;
    color: white;
}

.present {
    background-color: red;
    color: white;
}

.future {
    background-color: green;
    color: white;
}