.btn {
    border-radius: 0px 10px 10px 0px;
    border-color: black;

}

/* .button-img::before {
   background-image: url("assets/images/save_icon.png"); 
} */

#currentDay {
    font-size: 24px;
    font-family: 'Stick No Bills', sans-serif;
}